body {
    box-sizing: border-box;  /* ie6 did nothing wrong */
    margin: 0;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #111;
    color: #fff;
    font-family: monospace;
}

h1 {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-weight: normal;
}
