*, *:before {
    box-sizing: border-box;
}

body[data-error], body[data-error] h1, body[data-error] h2, body[data-error] h3 {
    font-family: monospace;
}

.uk-button-link {
    background: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content-container {
    position: relative;
    min-height: 100vh;
}

.view-container {
    color: #fff;
    background: #000;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

[data-status="playing"] .pad, [data-status]:not([data-status="playing"]) .pad + * {
    display: none;
}

[data-status] .icon:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em;
    line-height: 1;
    font: normal 4em FontAwesome;
    content: '\f071';  /* .uk-icon-exclamation-triangle */
    pointer-events: none;
}

[data-status="playing"] .icon:before {
    content: ' ';
}

[data-status="playing"]:not(.has-video) .icon:before {
    content: '\f028';
}

[data-status="loading"] .icon:before {
    content: ' ';
	border: 0.2em solid transparent;
	border-radius: 50%;
	border-left-color: #fff;
	border-right-color: #fff;
	animation: uk-rotate 1.5s infinite linear;
}

.responsive {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
}

.view-controls {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    transition: transform 0.3s ease-out;
    background: #000;
    background: rgba(0,0,0,0.8);
}

.view-controls > * {
    margin: 5px;
    vertical-align: middle;
}

.has-video[data-status="playing"]:not(:hover):not(:active) .view-controls {
    transform: translateY(100%);
}

.view-controls .status {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.view-controls .volume {
    position: relative;
    cursor: pointer;
}

.view-controls .volume .bg {
    opacity: 0.33;
    border-left: 5em solid transparent;
    border-bottom: 1.5em solid #fff;
}

.view-controls .volume .bg.active {
    position: absolute;
    opacity: 1;
    bottom: 0;
    left: 0;
}

.view-controls .mute {
    width: 1em;  /* icons are not fixed-width for some reason */
    line-height: 1;
    font: normal 1.33em FontAwesome;
}

.view-controls .mute:before {
    content: "\f028";  /* .uk-icon-volume-up */
}

.muted .view-controls .mute:before {
    content: "\f026";  /* .uk-icon-volume-off */
}

.view-container:not(.has-audio) .volume {
    display: none;
}

.view-info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.view-info > * {
    margin: 0.5em 0 0.3em 0;
}

.view-info > *:not(:first-child) {
    margin-left: 1em;
}

.chat-container {
    display: none;
}

@media (min-width: 45em) {
    .chat-container + .content-container {
        height: 100vh;
        overflow: auto;
        margin-right: 20em;
    }

    .chat-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        z-index: 1;
        width: 20em;
        display: flex;
        flex-direction: column;
    }

    .chat-container > * {
        padding: 1em;
    }

    .chat-container form {
        padding: 0.5em;
    }

    .chat-container fieldset {
        padding: 0.5em;
        text-align: right;
    }

    .chat-container .input {
        width: 100%;
    }

    .chat-container .log {
        flex: 1;
        margin: 0;
        overflow-y: auto;
        list-style: none;
        word-wrap: break-word;
    }

    .chat-container .name {
        font-weight: bold;
    }

    .chat-container .empty-log:not(:only-child),
    .chat-container.active .offline-message,
    .chat-container:not(.active) form,
    .chat-container .login-form + .input-form
    {
        display: none;
    }
}
