/*#a168ad #84d2d4 #f7d358*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
}

html {
    font: normal 14px/1.5 'Source Sans Pro', 'Trebuchet MS', Helvetica, sans-serif;
    color: #222;
}

html, body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

@media screen {
    html, body, main[data-scrollbar] {
        /* this is easier than dealing with `overflow:scroll` on `body`. */
        height: 100%;
    }
}

h1, h2, h3 {
    font-weight: normal;
}

a:link, a:visited {
    color: #a168ad;
}

a:not(:hover) {
    text-decoration: none;
}

img, svg, video, audio, canvas {
    vertical-align: middle;  /* do not reserve space for descenders */
}

blockquote {
    margin: 0;
    color: #693;
    border-left: 3px solid;
    padding-left: 1em;
}

hr {
    border: 0;
    border-top: 1px dashed;
    opacity: 0.5;
}

pre {
    overflow-x: auto;
}

x-spoiler {
    border-bottom: 1px dashed;
}

x-spoiler:not(:hover):not(:focus) {
    background: currentColor;
}

nav, section, footer {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

nav, footer {
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

nav {
    height: 4rem;
}

nav > * {
    margin: 0 1rem;
}

nav .brand {
    color: inherit;
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    color: #666;
    flex-wrap: wrap;
}

footer > * {
    margin: 1rem;
}

.icon {
    font: 1em/1 FontAwesome;
}

x-spacer {
    flex: 1;
    margin: 0;
}

[hidden] {
    display: none !important;
}

[data-scrollbar] {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

x-scrollbar {
    display: block;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 255;
    color: #888;
    background: rgba(127,127,127,0.3);
    border-radius: 3px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

@media not screen {
    [data-scrollbar] {
        overflow: hidden !important;
        margin-right: 0 !important;
    }

    x-scrollbar {
        display: none;
    }
}

x-range {
    display: block;
    position: relative;
    padding: 1em 0;
}

x-range::before {
    content: '';
    display: block;
    opacity: 0.2;
    border: 3px solid;
    border-radius: 3px;
    margin-bottom: -6px;
    transition: transform 0.2s;
}

x-slider {
    height: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
}

x-slider::before {
    content: '';
    display: block;
    height: 100%;
    border: 3px solid;
    border-radius: 3px;
    transition: transform 0.2s;
}

x-range:not([data-ro]) {
    cursor: pointer;
}

x-range:not([data-ro]) > x-slider::after {
    content: '';
    float: right;
    display: block;
    margin: -9px -6px -6px -6px;
    border: 6px solid;
    border-radius: 6px;
    box-shadow: 0 0 5px -2px #000;
    transition: transform 0.2s ease-in-out;
}

x-range:not([data-ro]):not(:hover):not(:focus) > x-slider::after {
    transform: scale(0);
}

x-range:not([data-ro]):not(:hover):not(:focus)::before,
x-range:not([data-ro]):not(:hover):not(:focus) > x-slider::before {
    transform: scaleY(0.66);
}

x-tabbar {
    display: flex;
}

x-tabbar > * {
    font: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0.5em 1em;
}

x-tabbar > .active {
    border-bottom: 4px solid #a168ad;
}

[data-status] {
    position: relative;
}

[data-status][data-remote-element] {
    min-height: 8em;
}

[data-status]::before {
    font: normal 4em FontAwesome;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em;
    z-index: 2;
}

[data-status="loading"]::before,
[data-status][data-status-ui="loading"]::before {
    animation: spin 1.33s infinite linear;
    border: 0.1em solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-top-color: currentColor;
    border-bottom-color: currentColor;
    box-sizing: border-box;
    content: '';
}

[data-status="error"]::before,
[data-status][data-status-ui="error"]::before {
    content: '\f071';  /* exclamation-triangle */
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

[data-markup] + [data-markup=""] {
    display: none;
}

[data-markup=""], [data-markup] p {
    white-space: pre-line;
}

[data-markup] h1 { font-size: 1.3em; }
[data-markup] h2 { font-size: 1.2em; }
[data-markup] h3 { font-size: 1.1em; }

form {
    position: relative;
}

form label {
    font-weight: bold;
}

form .error {
    color: #900;
}

form:not(.error) .error {
    display: none;
}

form.block {
    padding: 0 1rem;
}

form.block.warning {
    border: 1px solid #fff8df;
    background: repeating-linear-gradient(130deg,#fffbee,#fffbee 80px,transparent 80px,transparent 160px) #fff8df;
}

form.block > * {
    display: block;
}

form.block > label {
    margin-top: 1em;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #444;
    font: inherit;
    margin: 0;
    padding: 0.25em 0.5em;
    transition: background-color linear 0.2s;
    vertical-align: middle;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: #fffdef;
    border-color: #f7d358;
}

textarea:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
    color: #999;
    background: #fafafa;
    border-color: #dddddd;
}

form.error textarea:not(:disabled),
form.error input[type="text"]:not(:disabled),
form.error input[type="email"]:not(:disabled),
form.error input[type="password"]:not(:disabled) {
    background: #fee;
    border-color: #dcb0a3;
}

form.block > textarea,
form.block > input[type="text"],
form.block > input[type="password"],
form.block > input[type="email"] {
    width: 100%;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    background: #f7d358;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 6px;
    box-sizing: border-box;
    color: #444;
    font: inherit;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 1em;
    vertical-align: middle;
}

button:not(:disabled) {
    cursor: pointer;
}

button:active {
    background: #cfac33;
}

button:disabled {
    color: #999;
    background: #fafafa;
    border-color: rgba(0,0,0,0.06);
}

button.secondary {
    background: #f0f0f0;
}

button.secondary:active {
    background: #ddd;
}

a.button:not(.icon) {
    background: #a168ad;
    border-radius: 6px;
    color: #eee;
    display: inline-block;
    padding: 0.5em 1em;
}

a.button:not(.icon):active {
    background: #91489d;
}

a.button.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
}

img.emoji {
   width: 1.2em;
   height: 1.2em;
   padding: 0 0.1em;
   vertical-align: -0.25em;
}

x-modal-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 256;
    background: rgba(0,0,0,0.8);
}

x-modal-bg {
    display: block;
    margin: 0 auto;
    max-width: 30rem;
    overflow: hidden;
    position: relative;
    background: #fff;
}

x-modal-bg > .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #777;
    opacity: 0.66;
}

@media (min-width: 27em) {
    x-modal-bg > .close {
        display: none;
    }
}

x-modal-bg > .close::before {
    content: '\f00d';
}

x-modal {
    display: block;
    max-height: 100vh;
}

x-modal > form.block {
    padding: 1rem 2rem;
}

x-tooltip, x-tooltip[data-status] {
    display: block;
    position: absolute;
    margin-bottom: 1em;
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 0.5em;
}

x-tooltip::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1em;
    margin: -1em;
    border: 1em solid transparent;
    border-top-color: #fff;
}

x-emoji-picker {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column;
}

x-emoji-picker > x-tabbar {
    flex: 0 0 auto;
}

x-emoji-picker > x-tabbar > * {
    padding: 0.4em;
}

x-emoji-picker h4 {
    margin: 0.5em 0.5em 0 0.5em;
}

x-emoji-list {
    display: flex;
    padding: 0.25em;
    font-size: 1.1em;
    flex-flow: row wrap;
    justify-content: space-between;
}

x-emoji-list::after {
    flex: auto;
    content: '';
}

x-emoji-list .emoji {
    cursor: pointer;
    padding: 0.25em;
}

x-columns {
    display: flex;
    flex-wrap: wrap;
}

x-columns {
    align-items: flex-start;
}

x-columns > * {
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 50em) {
    x-columns > * {
        width: 50%;
    }

    x-columns > :nth-child(2n) {
        padding-left: 0.5em;
    }

    x-columns > :nth-child(2n+1) {
        padding-right: 0.5em;
    }
}

.user-header {
    padding: 2rem;
}

.user-header > img {
    float: left;
    margin-right: 1em;
}

.user-header > h1 {
    margin: 0;
    height: 1.5em;  /* = line-height, but line-height is rounded to px while height is not */
    font-size: 1.6em;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-header > div {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.user-header > div > .subheading {
    font-size: 1.2em;
}

.user-header > div > :not(:last-child) {
    margin-right: 1rem;
}

x-panel {
    display: block;
    padding: 1px 1rem;
    margin-bottom: 1rem;
    position: relative;
    word-wrap: break-word;
    background: #f7f7f3;
}

x-panel-footer {
    display: flex;
    background: #eee;
    font-style: italic;
    align-items: center;
    margin: -1px -1rem;
    padding: 1rem;
}

x-panel.dotted {
    background: none;
    border: 3px dashed #eee;
}

x-panel.dotted > x-panel-footer {
    background: none;
}

x-badge {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.1em 0.33em;
    background: #d00;
    border-radius: 0.5em;
    align-self: center;
    vertical-align: top;
}

@media (max-width: 30em) {
    nav, footer {
        padding: 0 0.5rem;
    }

    nav > * {
        margin: 0 0.5rem;
    }

    footer > * {
        margin: 1rem 0.5rem;
    }

    .user-header {
        padding: 1rem;
    }
}
