/*#a168ad #84d2d4 #f7d358*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
}

html {
    font: normal 14px/1.5 sans-serif;
    color: #444;
}

body {
    margin: 0;
    display: flex;
    position: relative;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.content {
    flex: 1;
}

.center-block {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

[data-scrollbar] {
    position: relative;
    overflow-y: auto;
}

[data-scrollbar] > .track {
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 5px;
    margin: 5px;
    z-index: 255;
    border-radius: 2px;
    background: rgba(127,127,127,0.3);
    transition: opacity 0.2s ease-in-out;
}

[data-scrollbar] > .track.hide {
    opacity: 0;
}

[data-scrollbar] > .track > .thumb {
    position: relative;
    background: rgba(127,127,127,0.7);
    border-radius: 2px;
}

[data-tabs] > .tabbar {
    display: flex;
}

[data-tabs] > .tabbar > * {
    font: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid #a168ad;
}

[data-tabs] > .tabbar > .active {
    border-bottom-width: 4px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: #a168ad;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

img,
svg,
video,
audio,
canvas {
    vertical-align: middle;  /* https://github.com/h5bp/html5-boilerplate/issues/440 */
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
    -webkit-appearance: none;
    box-sizing: border-box;
    margin: 0;
    height: 2em;
    padding: 0.33em;
    vertical-align: middle;
    font: inherit;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    transition: all linear 0.2s;
}

textarea {
    height: auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: #fffdef;
    border-color: #f7d358;
}

textarea:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
    color: #999;
    border-color: #ddd;
    background-color: #fafafa;
}

button {
    -webkit-appearance: none;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 0 1em;
    color: #444;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    min-height: 2.5em;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 4px;
    background-color: #f7d358;
}

button:not(:disabled) {
    cursor: pointer;
}

button:focus {
    outline: none;
    border-color: rgba(0,0,0,0.21);
}

button:active {
    background-color: #cfac33;
}

button:disabled {
    color: #999;
    border-color: rgba(0,0,0,0.06);
    background-color: #fafafa;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a.button {
    width: 1.5em;
    padding: 0.5em;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    cursor: pointer;
    transition: text-shadow 0.1s ease-in-out;
}

a.button:before {
    font: normal 1.4em FontAwesome;  /* 1.5em is 0.33px more than width for some reason */
    vertical-align: middle;
}

a.button:hover,
a.button:focus {
    text-shadow: 0 0 0.33em;
    text-decoration: none;
}

nav {
    display: flex;
    padding: 1em 2em;
    align-items: center;
}

nav .brand {
    color: inherit;
    font-size: 1.2em;
    font-weight: bold;
}

nav .brand ~ * {
    margin-left: 1.66em;
}

nav .search {
    flex: 1;
}

@media (max-width: 50em) {
    nav .search input {
        display: none;
    }
}

footer {
    padding: 2em;
    color: #777;
}

.modal-bg {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 256;
    background: rgba(0,0,0,0.7);
    background-image: repeating-linear-gradient(0deg,
        rgba(0,0,0,0.2), rgba(0,0,0,0.2) 2px, transparent 2px, transparent 4px);
}

.modal {
    flex: 1;
    overflow: hidden;
    position: relative;
    background: white;
    max-width: 30em;
}

.modal > [data-scrollbar] {
    max-height: 100vh;
}

.modal > .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
}

.modal > .close:before {
    content: '\f00d';  /* close */
}

.login-form {
    padding: 2em;
}

.login-form > form > * {
    display: block;
    margin: 1em 0 0 0;
}

.login-form > form > :first-child,
.login-form > form > label + * {
    margin-top: 0;
}

.login-form .notice {
    color: #aaa;
}
