/*#a168ad #84d2d4 #f7d358*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
}

html {
    font: normal 14px/1.5 sans-serif;
    color: #444;
}

body {
    margin: 0;
    display: flex;
    position: relative;
}

html, body {
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: #a168ad;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

img,
svg,
video,
audio,
canvas {
    vertical-align: middle;  /* https://github.com/h5bp/html5-boilerplate/issues/440 */
}

.content {
    flex: 1;
}

.center-block {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.center-block-small {
    max-width: 30em;
}

.section-highlight {
    background: #1a1a1a;
    color: #fff;
}

[data-scrollbar] {
    position: relative;
    overflow-y: auto;
}

[data-scrollbar] > .track {
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 5px;
    margin: 5px;
    z-index: 255;
    border-radius: 2px;
    background: rgba(127,127,127,0.3);
    transition: opacity 0.2s ease-in-out;
}

[data-scrollbar] > .track.hide {
    opacity: 0;
}

[data-scrollbar] > .track > .thumb {
    position: relative;
    background: rgba(127,127,127,0.7);
    border-radius: 2px;
}

[data-tabs] > .tabbar {
    display: flex;
}

[data-tabs] > .tabbar > * {
    font: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid #a168ad;
}

[data-tabs] > .tabbar > .active {
    border-bottom-width: 4px;
}

form {
    position: relative;
}

form .error {
    color: #900;
}

form:not(.error) .error {
    display: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
    -webkit-appearance: none;
    margin: 0;
    height: 2em;
    padding: 0.33em;
    box-sizing: border-box;
    vertical-align: middle;
    font: inherit;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    transition: all linear 0.2s;
}

textarea {
    height: auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: #fffdef;
    border-color: #f7d358;
}

textarea:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
    color: #999;
    border-color: #ddd;
    background-color: #fafafa;
}

form.error textarea,
form.error input[type="text"],
form.error input[type="email"],
form.error input[type="password"] {
    background: #fff8f8;
    border-color: #dcb0a3;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 0 1em;
    color: #444;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    min-height: 2.5em;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 6px;
    background-color: #f7d358;
}

button:not(:disabled) {
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #f7d358;
}

button:active {
    background-color: #cfac33;
}

button:disabled {
    color: #999;
    border-color: rgba(0,0,0,0.06);
    background-color: #fafafa;
}

button[type="reset"] {
    background-color: #f0f0f0;
}

button[type="reset"]:focus {
    box-shadow: 0 0 5px #ddd;
}

button[type="reset"]:active {
    background-color: #ddd;
}

a.text-button {
    display: inline-block;
    padding: 0.5em 1em;
    color: #eee;
    border-radius: 6px;
    background-color: #a168ad;
}

a.text-button:focus {
    outline: 0;
    box-shadow: 0 0 5px #a168ad;
    text-decoration: none;
}

a.text-button:active {
    background-color: #91489d;
}

a.button {
    width: 1.5em;
    padding: 0.5em;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: text-shadow 0.1s ease-in-out;
}

a.button:before {
    font: normal 1.4em FontAwesome;  /* 1.5em is 0.33px more than width for some reason */
    vertical-align: middle;
}

a.button:hover,
a.button:focus {
    text-shadow: 0 0 0.33em;
    text-decoration: none;
}

nav {
    display: flex;
    padding: 1em 2em;
    align-items: center;
}

nav > .brand {
    color: inherit;
    font-size: 1.2em;
    font-weight: bold;
}

nav > .spacer {
    flex: 1;
}

nav > :not(:first-child) {
    margin-left: 1.66em;
}

nav > button,
nav > a.text-button {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

footer {
    padding: 2em;
    color: #777;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 256;
    background: rgba(0,0,0,0.8);
}

.modal {
    margin: 0 auto;
    max-width: 30em;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.modal > * {
    max-height: 100vh;
}

.modal > .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
}

.modal > .close:before {
    content: '\f00d';  /* close */
}

.alert-warning {
    margin: 2em 2em 0 2em;
    padding: 2em;
    border: 1px solid #f3efc4;
    border-radius: 1em;
    background: #ffffde;
}

.alert-warning > :first-child {
    margin-top: 0;
}

.alert-warning > :last-child {
    margin-bottom: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex: 1 0;
}

.meta {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 2em;
}

.meta h1 {
    margin: 0;
    font-size: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meta h2 {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
}

.meta .avatar {
    flex-shrink: 0;
    margin-right: 1em;
    width: 60px;
    height: 60px;  /* ~= 58.8px = 4.2em = (h1.font-size + h2.font-size) * line-height */
}

.meta > :nth-child(2) {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
}

.meta > :nth-child(3) h2 {
    margin-left: 1em;
}

[data-status]:before {
    font: normal 4em FontAwesome;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;  /* alternatively, `top: calc(50% - 0.5em);`... */
    margin-left: -0.5em;
    z-index: 2;
}

[data-status][data-status-with-bg]:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(255,255,255,0.7);
}

[data-status="loading"]:before {
    animation: spin 0.66s infinite linear;
    border: 0.1em solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-top-color: currentColor;
    box-sizing: border-box;
    content: '';
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.login-form {
    padding: 2em;
}

.login-form > form > * {
    display: block;
}

.login-form > :not(label) + *,
.login-form > form > :not(label) + * {
    margin-top: 1em;
}

.login-form label {
    font-weight: bold;
    margin-bottom: 0;
}

.login-form .notice {
    color: #888;
}

.user-config-form textarea,
.user-config-form input[type="text"],
.user-config-form input[type="password"],
.user-config-form input[type="email"] {
    width: 100%;
}
