/*#a168ad #84d2d4 #f7d358*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

html {
    font: normal 14px/1.5 sans-serif;
    color: #222;
}

body > [data-scrollbar]:only-child {
    /* this is easier than dealing with `overflow:scroll` on `body`. */
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:link, a:visited {
    color: #a168ad;
}

a:not(:hover) {
    text-decoration: none;
}

img, svg, video, audio, canvas {
    vertical-align: middle;  /* do not reserve space for descenders */
}

nav, section, footer {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

nav, footer {
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

nav {
    height: 4rem;
}

nav > * {
    margin: 0 1rem;
}

nav .brand {
    color: inherit;
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    color: #666;
    flex-wrap: wrap;
}

footer > * {
    padding: 1rem;
}

.icon {
    font: 1em/1 FontAwesome;
}

.spacer {
    flex: 1;
    margin: 0;
}

[data-scrollbar] {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

[data-scrollbar] > .track {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 5px;
    right: 5px;
    width: 5px;
    bottom: 5px;
    z-index: 255;
    border-radius: 2px;
    background: rgba(127,127,127,0.3);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

[data-scrollbar] > .track > .thumb {
    background: rgba(127,127,127,0.7);
    height: 100%;
}

[data-tabs] > .tabbar {
    display: flex;
}

[data-tabs] > .tabbar > * {
    font: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0.5em 1em;
}

[data-tabs] > .tabbar > .active {
    border-bottom: 4px solid #a168ad;
}

[data-status]:before {
    font: normal 4em FontAwesome;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em 0 0 -0.5em;
    z-index: 2;
}

[data-status="loading"]:before {
    animation: spin 0.75s infinite linear;
    border: 0.1em solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-top-color: currentColor;
    box-sizing: border-box;
    content: '';
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

[data-markup] + [data-markup=""] {
    display: none;
}

[data-markup=""], [data-markup] p {
    white-space: pre-line;
}

[data-markup] h1 { font-size: 1.3em; }
[data-markup] h2 { font-size: 1.2em; }
[data-markup] h3 { font-size: 1.1em; }

[data-markup] blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 3px solid;
}

[data-markup] hr {
    border: 0;
    border-bottom: 1px dashed;
    opacity: 0.5;
}

[data-markup] pre {
    overflow-x: auto;
}

[data-markup] ul,
[data-markup] ol {
    padding-left: 2em;
}

[data-markup] .spoiler {
    border-bottom: 1px dashed;
}

[data-markup] .spoiler:not(:hover):not(:focus) {
    background: currentColor;
}

form {
    position: relative;
}

form .error {
    color: #900;
}

form:not(.error) .error {
    display: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #444;
    font: inherit;
    margin: 0;
    padding: 0.25em 0.5em;
    transition: background-color linear 0.2s;
    vertical-align: middle;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: #fffdef;
    border-color: #f7d358;
}

textarea:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
    color: #999;
    background: #fafafa;
    border-color: #dddddd;
}

form.error textarea:not(:disabled),
form.error input[type="text"]:not(:disabled),
form.error input[type="email"]:not(:disabled),
form.error input[type="password"]:not(:disabled) {
    background: #fdd;
    border-color: #dcb0a3;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    background: #f7d358;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 6px;
    box-sizing: border-box;
    color: #444;
    font: inherit;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 1em;
    vertical-align: middle;
}

button:not(:disabled) {
    cursor: pointer;
}

button:active {
    background: #cfac33;
}

button:disabled {
    color: #999;
    background: #fafafa;
    border-color: rgba(0,0,0,0.06);
}

button[type="reset"] {
    background: #f0f0f0;
}

button[type="reset"]:active {
    background: #ddd;
}

a.button:not(.icon) {
    background: #a168ad;
    border-radius: 6px;
    color: #eee;
    display: inline-block;
    padding: 0.5em 1em;
}

a.button:not(.icon):active {
    background: #91489d;
}

a.button.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 256;
    background: rgba(0,0,0,0.8);
}

.modal {
    margin: 0 auto;
    max-width: 30rem;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.modal > [data-scrollbar] {
    max-height: 100vh;
}

.modal > .close {
    position: absolute;
    top: 0;
    right: 0;
}

.modal > .close:before {
    content: '\f00d';
}

.row, [data-columns] {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex: 1 0;
}

[data-columns] {
    align-items: flex-start;
}

.user-header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.user-header > * {
    margin: 0.5rem;
    max-width: 100%;
    overflow: hidden;
}

.user-header > img {
    flex-shrink: 0;
}

.user-header > img + * {
    flex: 1;
}

.user-header h1 {
    margin: 0;
    font-size: 1.6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-header h1 ~ * {
    font-size: 1.2em;
}

.user-header > .spacer ~ * {
    text-align: center;
}

.warning-block {
    padding: 2rem;
    border: 1px solid #ffc;
    background: repeating-linear-gradient(-60deg, #ffc, #ffc 100px, #ffd 100px, #ffd 200px) #ffc;
}

.warning-block > h2 {
    margin-top: 0;
}

.form-wrapper {
    padding: 2rem;
    min-width: 10rem;
}

body > * > .form-wrapper {
    margin: 0 auto;
    max-width: 20rem;
}

.form-wrapper > form > * {
    display: block;
}

.form-wrapper label {
    font-weight: bold;
}

.form-wrapper :not(label) + * {
    margin-top: 1em;
}

.form-wrapper .notice {
    color: #666;
}

.form-wrapper textarea,
.form-wrapper input[type="text"],
.form-wrapper input[type="password"],
.form-wrapper input[type="email"] {
    width: 100%;
}
