nav .signup {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    padding: 0.5em;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #a168ad;
}

nav .signup:hover {
    text-decoration: none;
}

nav .signup:focus {
    outline: 0;
    border-color: #666;
}

nav .signup:active {
    background: #91489d;
}

.highlight {
    overflow: hidden;
    background: #1a1a1a;
}

.highlight-bg {
    color: #fff;
    background: #000;
    box-shadow: 0 0 5px #000;
    padding: 1px /* contain margins of children inside the block */ 2em;
}

.main {
    padding: 1px 2em;
}
