@media (min-width: 80em) {
    .center-block {
        max-width: 80em;
    }
}

.player-block {
    display: flex;
    justify-content: center;
    background: #1a1a1a;
    color: #fff;
}

.player {
    overflow: hidden;
    position: relative;
    background: #000;
}

.player svg,
.player video {
    width: auto;  /* scale to *at most* fit the window while preserving aspect ratio */
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 3.8em);  /* - total height of nav */
}

.player.has-video svg,
.player.has-video video {
    min-height: 240px;
}

.player-block.theatre {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 256;
}

.player.is-fullscreen,
.player.is-fullscreen svg,
.player.is-fullscreen video,
.player-block.theatre .player,
.player-block.theatre .player svg,
.player-block.theatre .player video {
    width: 100%;  /* scale to *exactly* fit the window while preserving aspect ratio */
    height: 100vh;
    max-width: none;
    max-height: none;
}

.player[data-status="error"]:before {
    content: '\f071';  /* exclamation-triangle */
}

.player .controls {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    background: rgba(0,0,0,0.7);
    transition: transform 0.3s ease-out, opacity 0.3s ease-in-out;
}

.player.has-video[data-status="playing"].hide-controls {
    cursor: none;
}

.player.has-video[data-status="playing"].hide-controls .controls:not(:hover) {
    opacity: 0;
    transform: translateY(100%);
}

.player .controls > :not(.button) {
    margin: 0.5em;  /* = padding-left = padding-right of `.player .controls` */
    white-space: nowrap;
}

.player .status {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.player .volume {
    position: relative;
    cursor: ew-resize;
}

.player .volume:before {
    content: ' ';
    display: block;
    border-top: 1.5em /* = line-height */ solid transparent;
    border-right: 6em solid rgba(255,255,255,0.3);
}

.player .volume .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #fff;
    border-radius: 1px;
}

.player:not(.has-video) {
    width: 100%;
    height: 2.5em;
    background: none;
}

.player:not(.has-video) .controls {
    padding: 0 3em;
    background: none;
}

.player:not(.has-video):before {
    left: 100%;
}

.player .mute:before {
    content: '\f028';  /* volume-up */
}

.player.muted .mute:before {
    content: '\f026';  /* volume-off */
}

.player .theatre:before {
    content: '\f065';  /* expand */
}

.player .fullscreen:before {
    content: '\f0b2';  /* arrows-alt */
}

.player .collapse:before {
    content: '\f066';  /* compress */
}

.edit > a:before {
    font: normal 1em FontAwesome;
    content: '\f040';  /* pencil */
}

.user-header .creator:before {
    content: 'by ';
}

.user-header .viewers:before {
    font: normal 1em FontAwesome;
    content: '\f06e';  /* eye */
    margin-right: 0.5em;
}

.user-header .edit {
    float: left;
    margin-right: 0.33em;
}

.user-header form + .edit,
.user-header form + .edit + .name {
    display: none;
}

.user-header form input,
.user-header form button {
    min-height: 2.4em;  /* = 1.5 * 1.6em = h1's height */
}

.about {
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    padding: 0 2em;
}

@media (max-width: 50em) {
    .about {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

.about .panel {
    position: relative;
    background: #fafaf6;
    min-height: 200px;
    padding: 1px 1em;
    word-wrap: break-word;
    box-sizing: border-box;
    break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.about .panel:not(:last-child) {
    margin-bottom: 1em;
}

.about .edit {
    float: right;
    margin-left: 1em;
}

.about form ~ * {
    visibility: hidden;
}

.about form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0.5em;
}

.about form textarea {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

.chat {
    width: 15%;
    min-width: 20em;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    background: inherit;
    transition: transform 0.4s ease-in-out;
}

body.no-video {
    margin-right: 20em;
}

body.no-video .chat {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20em;
    z-index: 128;
}

@media (max-width: 50em) {
    body.no-video {
        margin-right: 0;
    }

    .chat {
        position: fixed;
        top: 0;
        left: 100%;
        bottom: 0;
        z-index: 128;
    }

    .chat-tab {
        position: fixed;
        right: 0;
        bottom: 0;
        border-top: 2em solid transparent;
        border-right: 2em solid #000;
        transition: opacity 0.4s ease-in-out;
    }

    .chat:hover, .chat-tab:hover + .chat {
        transform: translateX(-100%);
    }

    .player-block.theatre .player .controls {
        padding-right: 2em;  /* +1em to move the buttons from under the tab */
    }
}

.chat h1,
.chat .log,
.chat .offline-message {
    padding: 1em;
}

.chat h1 {
    margin: 0 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(127,127,127,0.5);
}

.chat .log {
    flex: 1 1 0;
    margin: 0;
    list-style: none;
    word-wrap: break-word;
}

.chat .empty-message,
.chat .offline-message {
    opacity: 0.5;
}

.chat .error-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 1em;
    margin: 0.5em 1em;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.chat .error-message:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1em;
    border-top: 1em solid rgba(0,0,0,0.8);
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: ' ';
}

.chat .error-message.visible {
    opacity: 1;
    pointer-events: auto;
}

.chat .name {
    font-weight: bold;
}

.chat .name.anon:before {
    font: normal 1em/1 FontAwesome;
    content: '\f21b';  /* user-secret */
    margin-right: 0.33em;
}

.chat form {
    position: relative;
    padding: 0 1em 1em 1em;
}

.chat form > * {
    margin-top: 1em;
}

.chat .input {
    width: 100%;
}

.chat .ins-emoji:before {
    content: '\f118';  /* smile-o */
}

.player[data-status="playing"] svg,
.player:not([data-status="playing"]) video,
.player:not(.has-audio) .mute,
.player:not(.has-audio) .volume,
.player:not(.has-video) svg,
.player:not(.has-video) video,
.player:not(.has-video) .theatre,
.player:not(.has-video) .fullscreen,
.player.is-fullscreen .theatre,
.player.is-fullscreen .fullscreen,
.player-block.theatre .player .theatre,
.player-block.theatre .player .fullscreen,
.player-block:not(.theatre) .player:not(.is-fullscreen) .collapse,
.no-fullscreen .player .fullscreen,
.chat .empty-message:not(:only-of-type),
.chat.online .offline-message,
.chat.logged-in .login-form,
.chat:not(.online) form,
.chat:not(.logged-in) .input-form {
    display: none !important;
}
