/*#a168ad #84d2d4 #f7d358*/
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(127,127,127,0.5);
}

.content {
    flex: 1;
    /* move the scrollbar inside the container. otherwise, there would be
       two scrollbars (one for content and one for the chat log) at the right
       edge of the screen in close proximity. */
    overflow: auto;
}

.navbar {
    display: flex;
    line-height: 1.4;
    padding: 0 1.66em;
    align-items: center;
}

.navbar > :not(.uk-form) {
    padding: 1em 0;
}

.navbar .brand {
    color: inherit;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar .brand ~ * {
    margin-left: 1.66em;
}

.navbar .search {
    flex: 1;
}

.player-block {
    background: #111;
    text-align: center;
}

.player-block > * {
    text-align: left;
    vertical-align: middle; /* avoid a small margin below due to whitespace in markup */
}

.player {
    color: #fff;
    background: #000;
    display: inline-block;  /* 1. fit width to content (svg/video) */
    position: relative;     /* 2. allow to anchor the controls bar and an overlayed status icon */
    overflow: hidden;       /* 3. hide the controls bar when it is supposed to be out of view */
}

.player svg,
.player video {
    width: auto;  /* scale to *at most* fit the window while preserving aspect ratio */
    height: auto;
    max-width: 100%;
    max-height: 100vh;
}

.player.is-fullscreen,
.player.is-fullscreen svg,
.player.is-fullscreen video,
body.theatre .player-block,
body.theatre .player,
body.theatre .player svg,
body.theatre .player video {
    width: 100%;  /* scale to *exactly* fit the window while preserving aspect ratio */
    height: 100%;
    margin: 0;
    display: block;
}

.player:before /* overlayed status icon */ {
    font: normal 4em FontAwesome;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;  /* alternatively, `top: calc(50% - 0.5em);`... */
    margin-left: -0.5em;
    z-index: 1;
}

.player[data-status="loading"]:before {
    animation: uk-rotate 0.66s infinite linear;
    border: 0.1em solid rgba(255,255,255,0.2);  /* there are a few spinners in FontAwesome, */
    border-radius: 50%;                         /* but a thin transparent ring with */
    border-top-color: #fff;                     /* a white dash looks neater imo */
    box-sizing: border-box;
    content: ' ';
}

.player[data-status="error"]:before,
.player[data-status="ended"]:before {
    content: '\f071';  /* .uk-icon-exclamation-triangle */
}

.player .controls {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    line-height: 1.5em;
    background: rgba(0,0,0,0.7);  /* XXX maybe something else, like a gradient? */
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.player.has-video[data-status="playing"]:not(:hover):not(:active) .controls {
    opacity: 0;
    transform: translateY(100%);
}

.player .controls > * {
    margin: 0.5em;  /* = padding-left = padding-right of `.player .controls` */
    white-space: nowrap;
}

.player .controls > *:before {
    vertical-align: middle;
}

.player .status {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.player .volume {
    position: relative;
    cursor: ew-resize;
}

.player .volume:before {
    content: ' ';
    display: block;
    border-top: 1.5em /* = line-height */ solid transparent;
    border-right: 6em solid rgba(255,255,255,0.3);
}

.player .volume .slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #fff;
    border-radius: 1px;
}

.player .button {
    cursor: pointer;
    width: 1.5em;    /* = line-height */
    margin: 0;
    padding: 0.5em;  /* margin does not trigger onclick, padding does */
    transition: text-shadow 0.1s ease-out;
}

.player .button:before {
    font: normal 1.4em FontAwesome;  /* 1.5em is 0.33px more than line-height for some reason */
}

.player .button:hover,
.player .button:focus {
    text-shadow: 0 0 5px #fff;
}

.player .mute:before {
    content: '\f028';  /* .uk-icon-volume-up */
}

.player.muted .mute:before {
    content: '\f026';  /* .uk-icon-volume-off */
}

.player .theatre:before {
    content: '\f065';  /* .uk-icon-expand */
}

.player .fullscreen:before {
    content: '\f0b2';  /* .uk-icon-arrows-alt */
}

.player .collapse:before {
    content: '\f066';  /* .uk-icon-compress */
}

.player:not(.has-video) .controls {
    left: 2em;  /* = margin of .content = half of .player:before's width */
    right: 2em;
}

.player:not(.has-video):before {
    left: 0;
}

.player:not(.has-video),
.player:not(.has-video) svg,
.player:not(.has-video) video {
    width: 100%;
    height: 2.5em;
}

.player:not(.has-video) .status:before {
    content: 'audio-only';
    opacity: 0.5;
    margin-right: 1em;
    vertical-align: baseline;
}

.meta {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 2em;
}

.meta h1 {
    margin: 0;
    font-size: 1.6em;
    line-height: 1.5;
}

.meta h2 {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5;
}

.meta .avatar {
    margin-right: 1em;
    width: 60px;
    height: 60px;  /* ~= 58.8px = 4.2em = (h1.font-size + h2.font-size) * line-height */
}

.meta .avatar + * {
    flex: 1;
}

.meta h1:before,
.meta h2:before {
    color: #777;
}

.meta .viewers {
    margin-left: 1em;
}

.meta .viewers,
.meta .offline {
    color: #777;
}

.meta .creator:before {
    content: 'by ';
}

.meta .created:before {
    content: 'on ';
}

.meta .viewers:after {
    font: normal 1em FontAwesome;
    content: ' \f06e';  /* .uk-icon-eye */
}

.chat {
    width: 20em;
    max-width: 80%;
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    background: #eee;
    box-shadow: 7px 0 10px -10px #000 inset;
    transition: transform 0.4s ease-out;
}

@media (max-width: 50em) {
    .navbar .search input {
        display: none;
    }

    .chat {
        margin-right: -20em;
    }

    .chat .tab {
        position: absolute;
        left: -2em;
        bottom: 0;
        text-align: right;
        border-top: 2em solid transparent;
        border-right: 2em solid #222;
        transition: opacity 0.4s ease-out;
    }

    .chat:hover {
        transform: translateX(-100%);
    }

    .chat:hover .tab {
        opacity: 0;
    }

    body.theatre .player .controls {
        padding-right: 2em;  /* +1em to move the "collapse" button from under the tab */
    }
}

.chat > :not(.tab) {
    padding: 1em;
}

.chat h1 {
    margin: 0 2em;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.chat .log {
    flex: 1;
    margin: 0;
    overflow-y: auto;
    list-style: none;
    word-wrap: break-word;
}

.chat .empty-message,
.chat .offline-message {
    color: #777;
}

.chat .name {
    font-weight: bold;
}

.chat fieldset:not(:first-child) {
    margin-top: 1em;
    text-align: right;
}

.chat .input {
    width: 100%;
}

body.theatre .content {
    padding: 0;
    height: 100%;
}

body.theatre .chat {
    background: #111;
    color: #eee;
}

body.theatre .chat h1 {
    border-color: #333;
    color: #fff;
}

body.theatre .chat .uk-icon-hover:hover {
    color: #fff;
}

.player[data-status="playing"] svg,
.player:not([data-status="playing"]) video,
.player:not(.has-audio) .mute,
.player:not(.has-audio) .volume,
.player:not(.has-video) .theatre,
.player:not(.has-video) .fullscreen,
.player.is-fullscreen .theatre,
.player.is-fullscreen .fullscreen,
.chat .empty-message:not(:only-child),
.chat.online .offline-message,
.chat.logged-in .login-form,
.chat:not(.online) form,
.chat:not(.logged-in) .input-form,
body.theatre .content > :not(.player-block),
body.theatre .player .theatre,
body.theatre .player .fullscreen,
body:not(.theatre) .player:not(.is-fullscreen) .collapse,
body.no-fullscreen .player .fullscreen {
    display: none !important;
}
