.bg {
    background: #222;
    color: #fff;
}

.player-block {
    display: flex;
    max-width: none;
    justify-content: center;
}

.player-block .button.icon {
    font-size: 1.66em;
    color: inherit;
}

.player {
    overflow: hidden;
    position: relative;
    max-width: 70rem;
    background: #000;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.player svg,
.player video {
    width: auto;  /* scale to *at most* fit the window while preserving aspect ratio */
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 4rem);
}

.player-block:not(.theatre) .player.has-video:not(.is-fullscreen) {
    border-radius: 1em 1em 0 0;
}

.chat,
.player.has-video svg,
.player.has-video video {
    min-height: 20rem;
}

.player-block.theatre {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 256;
}

.player.is-fullscreen,
.player.is-fullscreen svg,
.player.is-fullscreen video,
.player-block.theatre,
.player-block.theatre .player,
.player-block.theatre .player svg,
.player-block.theatre .player video {
    width: 100%;  /* scale to *exactly* fit the window while preserving aspect ratio */
    height: 100vh;
    max-width: none;
    max-height: none;
}

.player .controls {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.player:not([data-status="playing"]) {
    background-image: repeating-linear-gradient(180deg,#000,#000 2px,#0a0a0a 2px,#0a0a0a 3px);
}

.player[data-status="error"]:before {
    content: '\f071';  /* exclamation-triangle */
}

.player.has-video[data-status="playing"] .controls {
    background: linear-gradient(0deg,rgba(0,0,0,0.7),transparent);
}

.player.has-video[data-status="playing"].hide-controls {
    cursor: none;
}

.player.has-video[data-status="playing"].hide-controls .controls:not(:hover) {
    opacity: 0;
}

.player .controls > :not(.button) {
    white-space: nowrap;
}

.player .status {
    flex: 1;
    padding: 0 1em;
    overflow: hidden;
    line-height: 1;
    font-size: 1.1em;
    font-weight: bold;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.player .volume {
    position: relative;
    width: 7em;
    padding: 1em 0;
    cursor: ew-resize;
}

.player .volume:before {
    content: ' ';
    display: block;
    height: 0.4em;
    background: rgba(255,255,255,0.3);
    border-radius: 0.2em;
}

.player .volume .slider {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-right: -0.5em;
    border-radius: 50%;
    background: white;
}

.player:not(.has-video) {
    width: 100%;
    height: 3rem;
    overflow: visible;
    background: none;
}

.player:not(.has-video) .controls {
    padding-left: 2em;
}

.stream-header .edit.icon {
    float: left;
    padding: 0.25em;
    font-size: 1.5em;
}

.stream-header form + .edit,
.stream-header form + .edit + .name {
    display: none;
}

.stream-header form input,
.stream-header form button {
    height: 2.4em;  /* = 1.5 * 1.6em = h1's height */
}

.stream-about {
    column-gap: 1rem;
    -moz-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    padding: 0 2rem;
}

@media (max-width: 30em) {
    .stream-about {
        padding: 0;
    }
}

@media (max-width: 50em) {
    .stream-about {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

.stream-about .panel {
    position: relative;
    min-height: 200px;
    padding: 1px 1rem;
    word-wrap: break-word;
    box-sizing: border-box;
    break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    background: #fafaf6;
}

.stream-about .panel:not(:last-child) {
    margin-bottom: 1rem;
}

.stream-about .edit {
    float: right;
    font-size: 1.33em;
    margin-right: -1rem;
}

.stream-about form ~ * {
    visibility: hidden;
}

.stream-about form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0.5rem;
}

.stream-about form textarea {
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

.chat {
    width: 20rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

@media (min-width: 50em) {
    body.aside-chat .chat {
        position: absolute;
        top: 7rem;
        bottom: 0;
        transform: translateX(-100%);
        color: #222;
    }

    body.aside-chat .stream-header,
    body.aside-chat .stream-about,
    body.aside-chat footer {
        padding-right: 22rem;
    }

    body.aside-chat .player {
        max-width: 80rem;
    }
}

@media (max-width: 50em) {
    .chat {
        position: fixed;
        top: 0;
        left: 100%;
        bottom: 0;
        z-index: 128;
        background: #0a0a0a;
    }

    .chat-tab {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 127;
        border-top: 2em solid transparent;
        border-right: 2em solid #000;
        transition: opacity 0.4s ease-in-out;
    }

    .chat:hover, .chat-tab:hover + .chat {
        transform: translateX(-100%);
    }

    .player-block.theatre .player .controls {
        padding-right: 2em;  /* +1em to move the buttons from under the tab */
    }
}

.chat h1 {
    margin: 0 0.8em;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(127,127,127,0.33);
}

.chat .log {
    flex: 1 1 0;
    margin: 0;
    padding: 1em;
    display: flex;
    list-style: none;
    word-wrap: break-word;
    flex-direction: column;
}

.chat .log:before {
    content: '';
    margin-top: auto;
}

.chat .offline-message {
    opacity: 0.5;
    padding: 0.91em 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.chat .error-message {
    display: none;
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: calc(100% + 1em);
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
}

.chat .error-message:after {
    position: absolute;
    top: 100%;
    left: calc(50% - 1em);
    border-top: 1em solid rgba(0,0,0,0.8);
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: ' ';
}

.chat .error-message.visible {
    display: block;
}

.chat .name {
    font-weight: bold;
}

.chat .name.anon:before {
    font: normal 1em/1 FontAwesome;
    content: '\f21b';  /* user-secret */
    margin-right: 0.33em;
}

.chat form {
    position: relative;
    text-align: right;
    padding: 0 1em;
}

.chat .input {
    width: 100%;
}

.player[data-status="playing"] svg,
.player[data-status="playing"] .play,
.player[data-status="loading"] .play,
.player[data-connected] .reload,
.player:not([data-connected]) .play,
.player:not([data-connected]) .stop,
.player:not([data-status="playing"]):not([data-status="loading"]) .stop,
.player:not([data-status="playing"]) video,
.player:not(.has-audio) .mute,
.player:not(.has-audio) .volume,
.player:not(.has-video) svg,
.player:not(.has-video) video,
.player:not(.has-video) .theatre,
.player:not(.has-video) .fullscreen,
.player:not(.muted) .unmute,
.player.muted .mute,
.player.is-fullscreen .theatre,
.player.is-fullscreen .fullscreen,
.player-block.theatre .player .theatre,
.player-block.theatre .player .fullscreen,
.player-block:not(.theatre) .player:not(.is-fullscreen) .collapse,
.no-fullscreen .player .fullscreen,
.chat.online .offline-message,
.chat.logged-in .login-form,
.chat:not(.online) form,
.chat:not(.logged-in) .input-form {
    display: none !important;
}
