<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>webmcast -- oh no</title>
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <link rel="stylesheet" href="/static/css/everything.css" />
    </head>
    <body data-error="{{code}}">
        <section class="w-content-container uk-block uk-block-secondary uk-contrast uk-flex uk-flex-column">
            <div class="uk-flex-item-1 uk-flex uk-flex-column uk-flex-center uk-text-center">
                <h2 style="font-weight: bold">NO SIGNAL // {{ code }} //
                    {{ message or {
                        403: 'FOREBODEN.',
                        404: 'There is nothing here.',
                        418: "I'm a little teapot.",
                        500: '✋☠❄☜☼☠✌☹ 💧☜☼✞☜☼ ☜☼☼⚐☼',
                       }.get(code, 'ERROR') }}
                </h2>
            </div>
            <h3>
                * {{ {403: "you're just a dirty hacker, aren't you?",
                      404: '(The dog absorbs the page.)',
                      418: 'Would you like a cup of tea?',
                      500: 'Try submitting a bug report.'}.get(code, 'Try something else.')|safe }}
            </h3>
        </section>
    </body>
</html>
