<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>webmcast / {{ code }}</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
  </head>
  <body class="uk-flex uk-flex-column">
    <div class="uk-block uk-block-default uk-block-large uk-flex-item-auto">
      <div class="uk-container uk-container-center">
        <h1 class="uk-heading-large">{{ code }}
            <small class="uk-text-muted">&larr;an error code</small></h1>
        {% if code == 500 %}
          <h2>{{ err.__class__.__name__ }}: {{ err }}</h2>
        {% else %}
          <h2>{{ message }}</h2>
        {% endif %}
        {% if long_message %}
          <h3>{{ long_message }}</h3>
        {% endif %}
      </div>
    </div>
    <div class="uk-block uk-block uk-flex-item-none">
      <div class="uk-container uk-container-center">
        <h3>
          {% if code == 500 %}
            Try <a href="https://github.com/pyos/webmcast">submitting a bug report</a>.
          {% else %}
            Try <a href="/">starting over</a>.
          {% endif %}
        </h3>
      </div>
    </div>
  </body>
</html>
