<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>webmcast -- {{id}}</title>
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <link rel="stylesheet" href="/static/css/everything.css" />
    </head>
    <body data-stream-id="{{id}}">
        <section class="w-chat-container uk-block uk-block-secondary uk-contrast">
            <ul class="log uk-list">
                <li class="empty-log">
                    <span class="text uk-text-muted">Nothing here.</span>
                </li>
                <li class="message">
                    <span class="name"></span>
                    <span class="text"></span>
                </li>
            </ul>
            <div class="offline-message uk-text-muted">
                [[ offline ]]
            </div>
            <form class="login-form uk-form">
                <fieldset>
                    <input class="input" placeholder="What's your name?" />
                </fieldset>
                <fieldset>
                    <button class="uk-button uk-button-primary" type="submit">Join</button>
                </fieldset>
            </form>
            <form class="input-form uk-form">
                <fieldset>
                    <textarea class="input" cols="1" rows="2" placeholder="Write a message"></textarea>
                </fieldset>
                <fieldset>
                    <button class="uk-button uk-button-link uk-icon-smile-o uk-icon-small uk-icon-hover"></button>
                    <button class="uk-button uk-button-primary" type="submit">Send</button>
                </fieldset>
            </form>
        </section>

        <section class="w-content-container uk-block uk-flex uk-flex-column">
            <div class="uk-flex-item-1">
                <div class="w-view-container w-icon-overlay w-icon-loading">
                    {# `video` with `height: auto` will always use the default aspect ratio.
                       so instead we enforce the size of this element with an empty image. #}
                    <svg width="{{stream.video.w}}" height="{{stream.video.h}}" class="pad uk-responsive-width">
                    </svg><video class="uk-responsive-width"></video>
                    <div class="controls">{# TODO #}</div>
                </div>
            </div>
            <h1>{{id}}</h1>
        </section>

        <script src="/static/js/room.js"></script>
    </body>
</html>
