<div class="form-wrapper">
    <h2 data-tab="restore">Password reset</h2>
    <form method="POST" action="/user/reset" data-xhrable>
        <label>Username</label>
        <input name="username" type="text" />
        <p class="notice">&mdash; or &mdash;</p>
        <label>Email</label>
        <input name="email" type="email" />
        <p class="notice">You'll receive further instructions by mail.</p>
        <p class="error"></p>
        <button type="submit">Reset</button>
    </form>
</div>
