<nav class="center-block" {{if .User}}data-user="{{.User.Login}}"{{end}}>
    <a href="/" class="brand">webmcast</a>
    <div class="search">{{/* TODO, maybe?... */}}</div>
    <span class="userinfo">
        Hi, <a class="username" href="/user/cfg">{{if .User}}{{.User.Login}}{{end}}</a>.
    </span>
    <a tabindex="0" class="login"  href="/user/login">Log in</a>
    <a tabindex="0" class="logout" href="/user/logout">Log out</a>
    <a tabindex="0" class="signup" href="/user/new">Sign up</a>
</nav>

{{ if . }}
<template id="login-form">
    <div data-tabs="login" class="with-bg">
        <div class="login-form">
            {{ template "form-user-login.html" }}
        </div>
        <div class="login-form">
            {{ template "form-user-new.html" }}
        </div>
        <div class="login-form">
            {{ template "form-user-restore.html" }}
        </div>
    </div>
</template>
{{ end }}
