<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/global.css" />
        <title>webmcast</title>
    </head>
    <body>
        <article class="content" data-scrollbar>
            {{ template "nav.html" }}
            <section class="login-form center-block center-block-small">
                {{ template "form-user-login.html" }}
            </section>
            {{ template "footer.html" }}
        </article>
    </body>
</html>
