<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/global.css" />
        <title>webmcast time machine // {{.ID}}</title>
        <style>
            #main-section {
                padding: 0 2rem 1rem 2rem;
            }
        </style>
    </head>
    <body>
        <main data-scrollbar>
            {{ template "nav.html" . }}
            <section class="user-header">
                <img width="60" height="60" src="{{.Avatar 60}}" alt="{{.ID}}" />
                <div>
                    <h1>{{or .UserName "anonymous"}}</h1>
                    <span>Stream archives / <a href="/{{.ID}}">Back to the live stream</a></span>
                </div>
            </section>
            <section id="main-section">
                <p>
                {{- if .Editable }}
                    <b>Disk space used:</b> {{.SpaceUsed}} / {{.SpaceLimit}}
                    <x-range data-value="{{.SpaceUsed.RatioOf .SpaceLimit}}" data-ro></x-range>
                    <em>Note: even if you're out of space, anyone can download your live streams
                        by using the link from your <a href="/user/">profile</a>. It's always
                        <a href="/stream/{{.ID}}"><span class="hostname">{hostname}</span>/stream/{{.ID}}</a>.</em>
                {{- else }}
                    <em>Note: you can download live streams or watch them in HTTP-capable players
                        by using this link: <a href="/stream/{{.ID}}"><span class="hostname">{hostname}</span>/stream/{{.ID}}</a></em>
                {{- end }}
                </p>
            {{- if .UserAbout }}
                <x-panel><p data-markup>{{.UserAbout}}</p></x-panel>
            {{- end }}
                <x-columns>
                    <div>
                    {{- range $id, $_ := $.Recordings }}
                        <x-panel data-order="{{$id}}">
                            <h2><a href="/rec/{{$.ID}}/{{.ID}}">{{.Name}}</a></h2>
                            <x-panel-footer>
                                <span>{{.Timestamp.Format "02.01.2006 15:04:05"}}</span>
                                <x-spacer></x-spacer>
                                <span>{{.Space}}</span>
                                <a href="/static/recorded/{{.Path}}" class="icon button" title="Download">&#xf019;</a>
                            </x-panel-footer>
                        </x-panel>
                    {{- else }}
                        <x-panel class="dotted" data-order="0">
                            <h2>The archive is empty.</h2>
                            <x-panel-footer>There is no way to record a stream yet.</x-panel-footer>
                        </x-panel>
                    {{- end }}
                    </div><div></div>
                </x-columns>
            </section>
            {{ template "footer.html" }}
            <script src="/static/js/global.js"></script>
        </main>
    </body>
</html>