<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <link rel="stylesheet" href="/static/css/room.css" />
        <title>webmcast -- {{.ID}}</title>
    </head>
    <body data-stream-id="{{.ID}}">
        <div class="scrollable">
        {{ if not .Stream }}
            <div class="player" data-status="error">
                <svg width="853" height="480"></svg>
        {{- else -}}
            <div class="player{{- if .Stream.HasVideo}} has-video{{end -}}
                              {{- if .Stream.HasAudio}} has-audio{{end -}}" data-status="error">
                {{- /* `video` with `height: auto` will always use the default aspect ratio.
                     so instead we enforce the size of this element with an empty image. */ -}}
                <svg width="{{.Stream.Width}}" height="{{.Stream.Height}}"></svg>
        {{- end -}}
                <video></video><div class="controls">
                    <div class="status">not connected</div>
                    <div class="button mute" title="Mute"></div>
                    <div class="volume"><div class="slider"></div></div>
                    <div class="button theatre" title="Theatre mode"></div>
                    <div class="button fullscreen" title="Fullscreen"></div>
                    <div class="button collapse" title="Normal view"></div>
                </div>
            </div>

            <div class="view-info">
                <h1 class="id">{{.ID}}</h1>
                {{ if .Stream }}
                    <h3 class="created">
                        <span class="uk-text-muted">created on</span>
                        {{.Stream.Created.Format "02.01.2006, 15:04:05 MST"}}
                    </h3>
                    <h3><i class="uk-icon-eye uk-text-muted"></i> <span class="viewers">{{len .Stream.Chat.Users}}</span></h3>
                {{- else -}}
                    <h3 class="created"><span class="uk-text-muted">Offline</span></h3>
                {{- end -}}
            </div>
        </div>

        <div class="chat">
            <h1>{{.ID}}</h1>
            <ul class="log">
                <li class="empty-message">Nothing here.</li>
            </ul>
            <template class="message-template">
                <li class="message">
                    <span class="name"></span>
                    <span class="text"></span>
                </li>
            </template>
            <div class="offline-message">Offline.</div>
            <form class="login-form uk-form">
                <fieldset>
                    <input class="input" placeholder="What's your name?" />
                </fieldset>
                <fieldset>
                    <button class="uk-button uk-button-primary" type="submit">Join</button>
                </fieldset>
            </form>
            <form class="input-form uk-form">
                <fieldset>
                    <textarea class="input" cols="1" rows="2" placeholder="Write a message"></textarea>
                </fieldset>
                <fieldset>
                    <button class="uk-button uk-button-link uk-icon-smile-o uk-icon-small uk-icon-hover"></button>
                    <button class="uk-button uk-button-primary" type="submit">Send</button>
                </fieldset>
            </form>
        </div>

        <script src="/static/js/vendored.min.js"></script>
        <script src="/static/js/room.js"></script>
    </body>
</html>
