<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <link rel="stylesheet" href="/static/css/everything.css" />
        <title>webmcast -- {{.ID}}</title>
    </head>
    <body data-stream-id="{{.ID}}">
        <div class="w-chat-container uk-block uk-block-secondary uk-contrast">
            <ul class="log uk-list">
                <li class="empty-log">
                    <span class="text uk-text-muted">Nothing here.</span>
                </li>
                <li class="message">
                    <span class="name"></span>
                    <span class="text"></span>
                </li>
            </ul>
            <div class="offline-message uk-text-muted">
                Offline.
            </div>
            <form class="login-form uk-form">
                <fieldset>
                    <input class="input" placeholder="What's your name?" />
                </fieldset>
                <fieldset>
                    <button class="uk-button uk-button-primary" type="submit">Join</button>
                </fieldset>
            </form>
            <form class="input-form uk-form">
                <fieldset>
                    <textarea class="input" cols="1" rows="2" placeholder="Write a message"></textarea>
                </fieldset>
                <fieldset>
                    <button class="uk-button uk-button-link uk-icon-smile-o uk-icon-small uk-icon-hover"></button>
                    <button class="uk-button uk-button-primary" type="submit">Send</button>
                </fieldset>
            </form>
        </div>

        <div class="w-content-container uk-block">
            <div class="uk-container uk-container-center">
                <div class="w-view-container {{if .Stream.HasVideo}}has-video{{end}}" data-status="error">
                    <div class="w-overlay icon"></div>
                    {{/* `video` with `height: auto` will always use the default aspect ratio.
                         so instead we enforce the size of this element with an empty image. */ -}}
                    <svg width="{{.Stream.Width}}" height="{{.Stream.Height}}" class="pad uk-responsive-width"></svg>
                    {{- if not .Stream.HasVideo -}}
                    <svg class="w-overlay">
                        <rect width="100%" height="100%" style="fill:#00f"></rect>
                        <text x="50%" y="50%" text-anchor="middle" alignment-baseline="center"
                            style="fill: #fff; font: bold 1.5em monospace">
                            NO VIDEO
                        </text>
                    </svg>
                    {{- end -}}
                    <video class="uk-responsive-width"></video>
                    <div class="controls uk-flex">
                        <div class="status uk-flex-item-1">not connected</div>
                        <div class="volume"><i class="uk-icon-volume-up"></i></div>
                    </div>
                </div>

                <div class="w-view-info uk-flex">
                    <h1 class="id">{{.ID}}</h1>
                    <h3 class="created">
                        <span class="uk-text-muted">created on</span>
                        {{.Stream.Created.Format "02.01.2006, 15:04:05 MST"}}
                    </h3>
                    <h3 class="viewers"><i class="uk-icon-eye uk-text-muted"></i> {{.Stream.Viewers}}</h3>
                </div>
            </div>
        </div>

        <script src="/static/js/room.js"></script>
    </body>
</html>
