<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/global.css" />
        <title>webmcast // password reset</title>
    </head>
    <body>
        <main data-scrollbar>
            {{ template "nav.html" }}
            <form method="POST" class="form-wrapper" action="">
                <h2>Choose a new password</h2>
                <input name="password" type="password" placeholder="********" required />
                <button type="submit">That's it!</button>
            </form>
            {{ template "footer.html" }}
        </main>
    </body>
</html>
