<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/global.css" />
        <title>webmcast // user config</title>
    </head>
    <body>
        <main data-scrollbar>
            {{ template "nav.html" . }}
            <section class="user-header">
                <img width="60" height="60" src="{{.User.Avatar 60}}" alt="Gravatar" />
                <div>
                    <h1>Hey there, {{.User.Name}}.</h1>
                    <span>Stream URL:
                        <a href="/stream/{{.User.Login}}?{{.User.StreamToken}}">Publish</a>
                     // <a href="/{{.User.Login}}">View</a>
                     // <a href="/stream/{{.User.Login}}">Download</a></span>
                </div>
            </section>
        {{- if not .User.Activated }}
            <section class="warning-block">
                <h2>Your account is not activated.</h2>
                <p>You will not be able to broadcast until you confirm
                   your email address, {{.User.Email}}. (Check the inbox.)</p>
                <form method="GET" action="/user/activate">
                    {{/* TODO remove this and instead offer to send another email. */}}
                    <input type="hidden" name="uid" value="{{.User.ID}}" />
                    <input type="hidden" name="token" value="{{.User.ActivationToken}}" />
                    <button type="submit">Or click here. Mail is not implemented yet.</button>
                </form>
            </section>
        {{- end }}
            <section class="row">
                <div class="form-wrapper">
                    <form method="POST" action="/user/new-token">
                        <label>Your avatar is provided by Gravatar.</label>
                        <span class="notice">
                            Visit <a href="https://gravatar.com/">gravatar.com</a> to change it.
                        </span>
                        <label>Your authentication token is</label>
                        <input type="text" value="{{.User.StreamToken}}" readonly />
                        <span class="notice">
                            It's at the end of the "Publish" URL. Think it might have been compromised?
                        </span>
                        <button type="submit">Get a new token</button>
                    </form>
                </div>
                <div class="form-wrapper">
                    <form method="POST" action="">
                        <label>Old password</label>
                        <input name="password-old" type="password" placeholder="Required to change anything." />
                        <label>Username</label>
                        <input name="username" type="text" placeholder="{{.User.Login}}" />
                        <label>Display name</label>
                        <input name="displayname" type="text" placeholder="{{.User.Name}}" />
                        <label>Email</label>
                        <input name="email" type="email" placeholder="{{.User.Email}}" />
                        <label>New password</label>
                        <input name="password" type="password" placeholder="Leave empty to keep the old one." />
                        <label>About yourself</label>
                        <textarea name="about" rows="6">{{.User.About}}</textarea>
                        <span class="error"></span>
                        <button type="submit">Update</button>
                    </form>
                </div>
            </section>
            {{ template "footer.html" }}
            <script src="/static/js/global.js"></script>
        </main>
    </body>
</html>
